<!DOCTYPE html>
<html>

<head>
  <title>Read Receipt</title>
</head>

<body>
  <p>Hey 👋</p>
  <p>
    You received this email because your email address was entered into the tool <a href="{{domain}}">Read Receipt</a>
    created by <a href="https://tobysmith.uk">Toby Smith</a> and you opened an email containing a tracking pixel.
  </p>

  <p>
    TODO: Add more text
  </p>

  <p>
    You:
  </p>

  <ul>
    <li>Your Email: {{user.email}}</li>
  </ul>

  <p>
    Times:
  </p>

  <ul>
    <li>First email sent at: {{times.firstEmailTimestamp}}</li>
    <li>This email sent at: {{times.secondEmailTimestamp}}</li>
    <li>Time difference: {{times.timestampDifference}}</li>
  </ul>

  <p>
    Note that this tool stores <b>none</b> of your personal information. It's totally stateless with no cookies,
    databases, logs, or anything else! You can check the source code on
    <a target="_blank" rel="noopener" href="https://github.com/tobysmith568/Read-Receipt">my GitHub</a>.
  </p>

  <p>
    If you have any questions, you can reach out to me at <a
      href="mailto:tobysmith568@hotmail.co.uk">tobysmith568@hotmail.co.uk</a> or find me at <a
      href="https://tobysmith.uk">https://tobysmith.uk</a>.
  </p>

  <p>
    Thanks!
  </p>
</body>

</html>
